name: Desktop Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

  pull_request:
    branches:
      - main
    tags:
      - 'v*.*.*'
jobs:
  build-release-desktop:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Decode secrets
        run: |
          echo "${{ secrets.SECRET_PROPERTIES }}" > $env:GITHUB_WORKSPACE/secret.properties
          echo "${{ secrets.ENV_PROPERTIES }}" > $env:GITHUB_WORKSPACE/env.properties

      - name: Build Release Package
        run: ./gradlew :composeApp:packageReleaseExe :composeApp:PackageReleaseMsi

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          if-no-files-found: error
          path: 'composeApp/build/compose/binaries/main-release/*'