name: Android Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build-release-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 33
          build-tools: '33.0.2'
          cache: true

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Decode secrets and keystore
        run: |
          mkdir -p $GITHUB_WORKSPACE/keystore          
          mkdir -p  $GITHUB_WORKSPACE/composeApp/src/release
          mkdir -p  $GITHUB_WORKSPACE/composeApp/src/debug
          
          echo "${{ secrets.SECRET_PROPERTIES }}" > $GITHUB_WORKSPACE/secret.properties
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > $GITHUB_WORKSPACE/keystore/release-keystore.jks
          echo "${{ secrets.ENV_PROPERTIES }}" > $GITHUB_WORKSPACE/env.properties
          echo "${{ secrets.RELEASE_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > $GITHUB_WORKSPACE/composeApp/src/release/google-services.json
          echo "${{ secrets.DEBUG_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 --decode > $GITHUB_WORKSPACE/composeApp/src/debug/google-services.json

      - name: Build Release APK
        run: ./gradlew :composeApp:assembleRelease :composeApp:bundleRelease

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          if-no-files-found: error
          path: 'composeApp/build/outputs/*/release/com.rollinup.rollinup-release-*'